@font-face {
   font-family: 'Montserrat-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/raluca/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-12-05_131501/fonts/Montserrat-VariableFont_wght/font.ttf');
}
