@font-face {
   font-family: 'Forum-Regular';
   font-display: swap;
   src: url('file:///C:/Users/raluca/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-12-05_131501/fonts/Forum-Regular/font.ttf');
}
